<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary btn-block" (click)="logout()">Logout</button>
    </div>
  </div>
</div>

<div class="container mt-4" *ngIf="postDetails$ | async as details">
  <div class="row">
    <div class="col-md-12">
      <h2 class="title">Details</h2>
      <div class="mt-4">
        UserId: {{details.userId}} <br>
        Id: {{details.id}}
      </div>
      <div class="mt-2">
        Title: {{details.title}}
      </div>
      <div class="mt-2">
        Body: {{details.body}}
      </div>
    </div>
  </div>
</div>
