<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form [formGroup]="loginForm" (ngSubmit)="logIn()">
            <div class="form-label-group">
              <input id="inputEmail" class="form-control" placeholder="Username"
                     formControlName="userName" autofocus>
              <label for="inputEmail">Username</label>
              <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
                   class="alert alert-danger">
                <div *ngIf="userName.errors.required">
                  Username is required.
                </div>
                <div *ngIf="userName.errors.minlength">
                  Username must be at least 4 characters long.
                </div>
              </div>
            </div>

            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password"
              formControlName="password">
              <label for="inputPassword">Password</label>
              <div *ngIf="password.invalid && (password.dirty || password.touched)"
                   class="alert alert-danger">
                <div *ngIf="password.errors.required">
                  Password is required.
                </div>
                <div *ngIf="password.errors.minlength">
                  Password must be at least 4 characters long.
                </div>
                <div *ngIf="password.errors.forbiddenPassword">
                  Password must contain at least one small letter, at least one capital letter, at least one number
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase"
                    [disabled]="!loginForm.valid">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
