<div class="container mt-3">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <button class="btn btn-primary btn-block" (click)="logout()">Logout</button>
    </div>
    <div class="col-lg-8 col-md-6 d-none d-md-block">
      <app-search (change)="onSearchTextChange($event)"></app-search>
    </div>
  </div>
</div>

<div class="wall container mt-3">
  <div class="row">
    <div class="col-lg-4 col-md-6" *ngFor="let post of posts | search: searchText">
      <div class="wall-col">
        <div class="container post-container">
          <div class="post">
            <h2>{{post.userId | username}}</h2>
            <div class="title" [routerLink]="['/wall', post.id]">Title: {{post.title}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



