@media (min-width: 992px) {
  .wall .col-lg-4:nth-child(-n+3) .wall-col {
    border-top: solid 1px;
  }
}

@media (min-width: 992px) {
  .wall .col-lg-4:nth-last-child(-n+3) .wall-col {
    border-bottom: solid 1px;
  }
}

@media (min-width: 992px) {
  .wall .col-lg-4:nth-last-child(-n+3) .wall-col .post-container {
    padding-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .wall .col-lg-4:nth-child(-n+3) .wall-col .post-container {
    padding-top: 15px;
  }
}

////
@media (min-width: 768px) and (max-width: 992px) {
  .wall .col-md-6:nth-child(-n+2) .wall-col {
    border-top: solid 1px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .wall .col-md-6:nth-last-child(-n+2) .wall-col {
    border-bottom: solid 1px;
  }
}

.wall-col {
  border-left: solid 1px;
  border-right: solid 1px;
  height: 100%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .wall .col-md-6:nth-last-child(-n+2) .wall-col .post-container {
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .wall .col-md-6:nth-child(-n+2) .wall-col .post-container {
    padding-top: 15px;
  }
}

.post-container {
  padding-top: 15px;
  height: 100%;
}

.post {
  padding: 10px;
  border: solid 1px;
  border-radius: 50px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  height: 100%;
  text-align: center;
}

.title {
  cursor: pointer;
}

@media (max-width: 768px) {
  .wall .col-md-6:nth-child(1) .wall-col {
    border-top: solid 1px;
  }
}

@media (max-width: 768px) {
  .wall .col-md-6:nth-last-child(1) .wall-col {
    border-bottom: solid 1px;
  }
}

@media (max-width: 768px) {
  .wall .col-md-6:nth-last-child(-n+2) .wall-col .post-container {
    padding-bottom: 15px;
  }
}
