<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <fa-icon class="input-group-text" [icon]="faSearch"></fa-icon>
  </div>
  <input type="text" class="form-control" placeholder="Search" (keyup)="onInputChange($event)">
</div>
